$headerHeight: 60px;
$headerBackgroundColor: #fff;

$mainBackgroundColor: #fff;
@mixin tag {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 10px;
  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1),
      0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 16px 32px 0 rgba(0, 0, 0, 0.1);
  }
}
@mixin tag-title {
  margin-left: 10px;
  padding-bottom: 5px;
  color: #287aed;
  font-weight: bold;
  span {
    margin-left: 5px;
  }
}

@mixin tag-item {
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(51, 51, 51, 0.8);
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  &:hover {
    border-left: 4px solid #287aed;
    background: rgba(40, 122, 237, 0.1);
  }
}
